---
import { YouTube } from "@astro-community/astro-embed-youtube";
import { getCollection } from "astro:content";
import { Code } from "astro-expressive-code/components";
import MachineLayout from "../layouts/MachineLayout.astro";
import Tabs from "../components/Tabs.tsx";
import StatelyVisualizer from "../components/StatelyVisualizer.astro";
import { css } from "../../styled-system/css";

export async function getStaticPaths() {
  const machinesEntries = await getCollection("machines");

  return machinesEntries.map((entry) => ({
    params: {
      machine: entry.slug,
    },
    props: {
      entry,
      title: entry.data.title,
    },
  }));
}

const { entry, title } = Astro.props;
const { Content } = await entry.render();

const { default: machineCode } = await import(
  `../examples/${Astro.params.machine}/machine.ts?raw`
);
const { default: reactCode } = await import(
  `../examples/${Astro.params.machine}/Demo.tsx?raw`
);
---

<MachineLayout title={title}>
  {
    typeof entry.data.youtubeVideoId === "string" ? (
      <div class={css({ py: "6", w: "full" })}>
        <YouTube
          id={entry.data.youtubeVideoId}
          poster={`https://i.ytimg.com/vi/${entry.data.youtubeVideoId}/maxresdefault.jpg`}
          class={css({ w: "full", maxW: "none!" })}
        />
      </div>
    ) : null
  }

  <Content />

  <h2 id="code">Code</h2>

  <Tabs labels={["Machine", "React", "Visualizer"]} client:load>
    <Fragment slot="1">
      <a
        href={`https://github.com/Devessier/xstatebyexample/tree/main/src/examples/${Astro.params.machine}/machine.ts`}
        target="_blank"
        class={css({ display: "inline-block", mb: "4" })}
      >
        View in GitHub
      </a>

      <Code code={machineCode} lang="ts" title="machine.ts" />
    </Fragment>

    <Fragment slot="2">
      <a
        href={`https://github.com/Devessier/xstatebyexample/tree/main/src/examples/${Astro.params.machine}/Demo.tsx`}
        target="_blank"
        class={css({ display: "inline-block", mb: "4" })}
      >
        View in GitHub
      </a>

      <Code code={reactCode} lang="tsx" title="Demo.tsx" />
    </Fragment>

    <Fragment slot="3">
      <StatelyVisualizer src={entry.data.visualizerSrc} />
    </Fragment>
  </Tabs>
</MachineLayout>
