---
import { YouTube } from "@astro-community/astro-embed-youtube";
import { getCollection } from "astro:content";
import { Code } from "astro-expressive-code/components";
import MachineLayout from "../layouts/MachineLayout.astro";
import Tabs from "../components/Tabs.tsx";
import StatelyVisualizer from "../components/StatelyVisualizer.astro";
import { css } from "../../styled-system/css";
import * as cheerio from "cheerio";

export async function getStaticPaths() {
  const machinesEntries = await getCollection("machines");

  return machinesEntries.map((entry) => ({
    params: {
      machine: entry.slug,
    },
    props: {
      entry,
      title: entry.data.title,
    },
  }));
}

const { entry, title } = Astro.props;
const { Content, headings } = await entry.render();

const { default: machineCode } = await import(
  `../examples/${Astro.params.machine}/machine.ts?raw`
);
const { default: reactCode } = await import(
  `../examples/${Astro.params.machine}/Demo.tsx?raw`
);

let videoTitle: string | undefined;

if (typeof entry.data.youtubeVideoId === "string") {
  const youtubeVideoPageRes = await fetch(
    `https://youtube.com/watch?v=${entry.data.youtubeVideoId}`
  );
  const youtubeVideoPageHtml = await youtubeVideoPageRes.text();

  const $ = cheerio.load(youtubeVideoPageHtml);

  videoTitle = $("meta[name=title]").attr("content");
  if (videoTitle === undefined) {
    throw new Error("Expected to find the video title on the page");
  }
}
---

<MachineLayout
  {title}
  headings={[
    ...(typeof entry.data.youtubeVideoId === "string"
      ? [{ depth: 2, slug: "video", text: "Video" }]
      : []),
    ...headings,
    { depth: 2, slug: "code", text: "Code" },
  ]}
>
  {
    typeof entry.data.youtubeVideoId === "string" ? (
      <div id="video" class={css({ py: "6", w: "full" })}>
        <YouTube
          id={entry.data.youtubeVideoId}
          posterQuality="max"
          title={videoTitle}
          class={css({ w: "full", maxW: "none!" })}
        />
      </div>
    ) : null
  }

  <Content />

  <h2 id="code">Code</h2>

  <Tabs labels={["Machine", "React", "Visualizer"]} client:load>
    <Fragment slot="1">
      <a
        href={`https://github.com/Devessier/xstatebyexample/tree/main/src/examples/${Astro.params.machine}/machine.ts`}
        target="_blank"
        class={css({ display: "inline-block", mb: "4" })}
      >
        View in GitHub
      </a>

      <Code code={machineCode} lang="ts" title="machine.ts" />
    </Fragment>

    <Fragment slot="2">
      <a
        href={`https://github.com/Devessier/xstatebyexample/tree/main/src/examples/${Astro.params.machine}/Demo.tsx`}
        target="_blank"
        class={css({ display: "inline-block", mb: "4" })}
      >
        View in GitHub
      </a>

      <Code code={reactCode} lang="tsx" title="Demo.tsx" />
    </Fragment>

    <Fragment slot="3">
      <StatelyVisualizer src={entry.data.visualizerSrc} />
    </Fragment>
  </Tabs>
</MachineLayout>
