---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { css } from "../../styled-system/css";
import { grid } from "../../styled-system/patterns";

const examples: Array<{
  href: string;
  name: string;
  imageUrl: string;
  width: number;
  height: number;
}> = [
  {
    href: "/debouncing",
    name: "Debouncing",
    imageUrl:
      "https://stately.ai/registry/machines/a5823380-73ed-475b-ba67-73c09f421074.light.png",
    width: 709,
    height: 600,
  },
  {
    href: "/throttling",
    name: "Throttling",
    imageUrl:
      "https://stately.ai/registry/machines/610df47a-3ecd-4f55-9dea-6f97edf05ea0.light.png",
    width: 1377,
    height: 600,
  },
  {
    href: "/search-as-you-type",
    name: "Search as you type",
    imageUrl:
      "https://stately.ai/registry/machines/46d48d1d-ce1e-4286-8cd9-226f852a37f0.light.png",
    width: 1187,
    height: 600,
  },
  {
    href: "/authentication",
    name: "Authentication",
    imageUrl:
      "https://stately.ai/registry/machines/85c8201b-62c9-4a35-9544-a313d8cadf49.light.png",
    width: 692,
    height: 600,
  },
];
---

<Layout title="XState by Example">
  <section>
    <header>
      <div
        class={css({
          ml: "auto",
          mr: "auto",
          maxW: "7xl",
          pl: "4",
          pr: "4",
          sm: { pl: "6", pr: "6" },
          lg: { pl: "8", pr: "8" },
        })}
      >
        <h1
          class={css({
            fontSize: "3xl",
            lineHeight: "tight",
            fontWeight: "bold",
            letterSpacing: "tight",
            color: "gray.900",
          })}
        >
          Examples
        </h1>
      </div>
    </header>
    <div class={css({ mt: "8" })}>
      <div
        class={css({
          ml: "auto",
          mr: "auto",
          maxW: "7xl",
          pl: "4",
          pr: "4",
          sm: { pl: "6", pr: "6" },
          lg: { pl: "8", pr: "8" },
        })}
      >
        <article class={grid({ columns: [1, 2, null, 3], gap: "4" })}>
          {
            examples.map(({ href, name, imageUrl, width, height }) => (
              <article
                class={css({
                  pos: "relative",
                  shadow: "md",
                  bg: "white",
                  rounded: "xl",
                  p: "4",
                  translate: "auto",
                  transition: "all",
                  transitionTimingFunction: "ease-in-out",
                  transitionDuration: "fast",
                  _hover: { translateY: "-2" },
                })}
              >
                <Image
                  src={imageUrl}
                  alt=""
                  {width}
                  {height}
                  class={css({
                    aspectRatio: "wide",
                    objectFit: "cover",
                    bg: "#f5f7f7",
                    rounded: "md",
                    borderStyle: "solid",
                    borderWidth: "2px",
                    borderColor: "gray.300",
                  })}
                />

                <h2
                  class={css({
                    mt: "3",
                    fontSize: "xl",
                    fontWeight: "semibold",
                  })}
                >
                  <a
                    href={href}
                    class={css({
                      _after: { content: '""', pos: "absolute", inset: 0 },
                    })}
                  >
                    {name}
                  </a>
                </h2>
              </article>
            ))
          }
        </article>

        <div
          class={css({
            maxW: "md",
            mx: "auto",
            mt: "12",
            bg: "white",
            shadow: "lg",
            p: "4",
            rounded: "lg",
          })}
        >
          <p>
            Want to be notified when more machines or an interactive tutorial
            are released? Sign up for the newsletter! I respect your privacy and
            will only send emails once in a while.
          </p>

          <iframe
            scrolling="no"
            style="width:100%!important;height:220px;border:1px #ccc solid !important"
            src="https://buttondown.email/xstate-by-example?as_embed=true"
            class={css({ mt: "2" })}></iframe>
        </div>
      </div>
    </div>
  </section>
</Layout>
