---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { css } from "../../styled-system/css";
import { grid } from "../../styled-system/patterns";
import { StandaloneDemo as SearchAsYouTypeDemo } from "../components/search-as-you-type/StandaloneDemo.tsx";
import { Content as SearchAsYouTypeCode } from "../assets/home/code.md";

const examples: Array<{
  href: string;
  name: string;
  imageUrl: string;
  width: number;
  height: number;
}> = [
  {
    href: "/debouncing",
    name: "Debouncing",
    imageUrl:
      "https://stately.ai/registry/machines/a5823380-73ed-475b-ba67-73c09f421074.light.png",
    width: 709,
    height: 600,
  },
  {
    href: "/throttling",
    name: "Throttling",
    imageUrl:
      "https://stately.ai/registry/machines/610df47a-3ecd-4f55-9dea-6f97edf05ea0.light.png",
    width: 1377,
    height: 600,
  },
  {
    href: "/search-as-you-type",
    name: "Search as you type",
    imageUrl:
      "https://stately.ai/registry/machines/46d48d1d-ce1e-4286-8cd9-226f852a37f0.light.png",
    width: 1187,
    height: 600,
  },
  {
    href: "/authentication",
    name: "Authentication",
    imageUrl:
      "https://stately.ai/registry/machines/85c8201b-62c9-4a35-9544-a313d8cadf49.light.png",
    width: 692,
    height: 600,
  },
];
---

<Layout title="XState by Example">
  <header
    class={css({
      px: { base: "4", sm: "6", lg: "8" },
      pt: { base: "10", sm: "14", lg: "24" },
    })}
  >
    <div class={css({ maxW: "5xl", mx: "auto" })}>
      <h1
        class={css({
          color: "gray.900",
          fontWeight: "extrabold",
          fontSize: { base: "4xl", sm: "5xl", lg: "6xl" },
          textAlign: "center",
          letterSpacing: "tight",
          lineHeight: "tight",
        })}
      >
        Learn XState from real examples accompanied by interactive demos.
      </h1>

      <p
        class={css({
          maxW: "3xl",
          mx: "auto",
          mt: "10",
          fontSize: { base: "lg", sm: "xl" },
          textAlign: "center",
          color: "gray.700",
          "& > a": {
            fontWeight: "semibold",
            textDecoration: "underline",
          },
        })}
      >
        Each machine has a handcrafted demo proving the benefit of using XState.
        <em class={css({ fontStyle: "italic" })}>XState by Example</em> uses the
        most up-to-date tools developed by <a href="https://stately.ai/"
          >Stately</a
        >, including <a href="https://stately.ai/docs/quick-start">XState 5</a> and
        <a href="https://github.com/statelyai/inspect">Stately Inspect</a>.
      </p>
    </div>

    <div
      class={css({
        maxW: "7xl",
        mx: "auto",
        mt: "24",
        display: "grid",
        gridTemplateColumns: 1,
        lg: {
          gridTemplateColumns: 12,
          gap: "8",
          alignItems: "center",
        },
      })}
    >
      <div
        class={css({
          pos: "relative",
          lg: {
            gridColumnStart: 7,
            gridColumnEnd: 13,
            gridRowStart: 1,
          }
        })}
      >
        <SearchAsYouTypeCode />

        <div
          class={css({
            pos: "absolute",
            insetX: 0,
            bottom: 0,
            display: "flex",
            justifyContent: "center",
            bgGradient: "to-t",
            gradientFrom: "#24292e",
            gradientTo: "#24292e00",
            pb: "12",
            pt: "32",
            // These values are injected by Expressive Code.
            borderRadius: "calc(var(--ec-brdRad) + var(--ec-brdWd))",
          })}
        >
          <a
            href="/search-as-you-type"
            class={css({
              rounded: "md",
              bgColor: "gray.50",
              px: "2.5",
              py: "1.5",
              fontSize: "sm",
              lineHeight: "sm",
              fontWeight: "semibold",
              color: "gray.800",
              shadow: "sm",
              cursor: "pointer",
              _hover: { bgColor: "gray.100" },
            })}
          >
            Show more
          </a>
        </div>
      </div>
      <div
        class={css({
          mt: { base: "12", lg: "0" },
          lg: {
            gridColumnStart: 1,
            gridColumnEnd: 7,
            gridRowStart: 1,
          }
        })}
      >
        <div
          class={css({
            maxW: "md",
            mx: "auto",
            bg: "white",
            px: "6",
            py: "8",
            rounded: "lg",
            shadow: "lg",
            display: "flex",
            flexDirection: "column",
          })}
        >
          <p class={css({ fontSize: "lg", fontWeight: "bold" })}>
            Search as you type
          </p>

          <div
            class={css({
              display: "flex",
              justifyContent: "center",
              mt: "4",
              mx: "-2",
            })}
          >
            <SearchAsYouTypeDemo client:idle />
          </div>
        </div>
      </div>
    </div>
  </header>

  <section
    class={css({
      pt: { base: "20", sm: "24", lg: "32" },
    })}
  >
    <header>
      <div
        class={css({
          ml: "auto",
          mr: "auto",
          maxW: "7xl",
          pl: "4",
          pr: "4",
          sm: { pl: "6", pr: "6" },
          lg: { pl: "8", pr: "8" },
        })}
      >
        <h2
          class={css({
            fontSize: "3xl",
            lineHeight: "tight",
            fontWeight: "bold",
            letterSpacing: "tight",
            color: "gray.900",
          })}
        >
          Examples
        </h2>
      </div>
    </header>
    <div class={css({ mt: "10" })}>
      <div
        class={css({
          ml: "auto",
          mr: "auto",
          maxW: "7xl",
          pl: "4",
          pr: "4",
          sm: { pl: "6", pr: "6" },
          lg: { pl: "8", pr: "8" },
        })}
      >
        <article class={grid({ columns: [1, 2, null, 3], gap: "4" })}>
          {
            examples.map(({ href, name, imageUrl, width, height }) => (
              <article
                class={css({
                  pos: "relative",
                  shadow: "md",
                  bg: "white",
                  rounded: "xl",
                  p: "4",
                  translate: "auto",
                  transition: "all",
                  transitionTimingFunction: "ease-in-out",
                  transitionDuration: "fast",
                  _hover: { translateY: "-2" },
                })}
              >
                <Image
                  src={imageUrl}
                  alt=""
                  {width}
                  {height}
                  class={css({
                    aspectRatio: "wide",
                    objectFit: "cover",
                    bg: "#f5f7f7",
                    rounded: "md",
                    borderStyle: "solid",
                    borderWidth: "2px",
                    borderColor: "gray.300",
                  })}
                />

                <h3
                  class={css({
                    mt: "3",
                    fontSize: "xl",
                    fontWeight: "semibold",
                  })}
                >
                  <a
                    href={href}
                    class={css({
                      _after: { content: '""', pos: "absolute", inset: 0 },
                    })}
                  >
                    {name}
                  </a>
                </h3>
              </article>
            ))
          }
        </article>

        <div
          class={css({
            maxW: "md",
            mx: "auto",
            mt: "12",
            bg: "white",
            shadow: "lg",
            p: "4",
            rounded: "lg",
          })}
        >
          <p>
            Want to be notified when more machines or an interactive tutorial
            are released? Sign up for the newsletter! I respect your privacy and
            will only send emails once in a while.
          </p>

          <iframe
            scrolling="no"
            style="width:100%!important;height:220px;border:1px #ccc solid !important"
            src="https://buttondown.email/xstate-by-example?as_embed=true"
            class={css({ mt: "2" })}></iframe>
        </div>
      </div>
    </div>
  </section>
</Layout>
