---
import Layout from "../layouts/Layout.astro";
import { css } from "../../styled-system/css";
import { hstack, vstack } from "../../styled-system/patterns";
import { getCollection } from "astro:content";

const tipsEntries = await getCollection("tips");

const orderedTipsEntries = tipsEntries.sort((a, b) => a.data.id - b.data.id);
---

<Layout title="XState by Example" ogType="website">
  <section>
    <header>
      <div
        class={css({
          ml: "auto",
          mr: "auto",
          maxW: "3xl",
          pl: "4",
          pr: "4",
          sm: { pl: "6", pr: "6" },
          lg: { pl: "8", pr: "8" },
        })}
      >
        <h1
          class={css({
            fontSize: "4xl",
            lineHeight: "tight",
            fontWeight: "bold",
            letterSpacing: "tight",
            color: "gray.900",
          })}
        >
          Tips & Tricks
        </h1>

        <p
          class={css({
            mt: "2",
            color: "gray.600",
            maxW: "2xl",
            fontSize: "lg",
          })}
        >
          A collection of tips and tricks to make the best use of XState.
        </p>
      </div>
    </header>
    <div class={css({ mt: "12" })}>
      <div
        class={css({
          ml: "auto",
          mr: "auto",
          maxW: "3xl",
          pl: "4",
          pr: "4",
          sm: { pl: "6", pr: "6" },
          lg: { pl: "8", pr: "8" },
        })}
      >
        <div class={vstack({ gap: "12", alignItems: "stretch" })}>
          {
            orderedTipsEntries.map((tip) => {
              const urlToTip = `/tip/${tip.slug}/`;

              return (
                <article
                  class={vstack({
                    rounded: "lg",
                    position: "relative",
                    gap: "2",
                    alignItems: "start",
                  })}
                >
                  <h3
                    class={css({
                      fontSize: "lg",
                      fontWeight: "semibold",
                      color: "gray.900",
                      _hover: { textDecoration: "underline" },
                    })}
                  >
                    <a href={urlToTip}>{tip.data.title}</a>
                  </h3>

                  <p class={css({ color: "gray.700" })}>
                    {tip.data.description}
                  </p>

                  <a
                    href={urlToTip}
                    class={hstack({
                      gap: "1",
                      alignItems: "center",
                      fontSize: "sm",
                      fontWeight: "medium",
                      color: { base: "red.700", _hover: "red.600" },
                    })}
                  >
                    Read more
                  </a>
                </article>
              );
            })
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
