---
import "../index.css";
import { ViewTransitions } from "astro:transitions";
import { getImage } from "astro:assets";
import faviconSrc from "../assets/favicon/favicon.png";
import faviconSvgSrc from "../assets/favicon/favicon.svg";
import ogImageSrc from "../assets/og/landing-page.png";
import { css } from "../../styled-system/css";
import { grid, hstack } from "../../styled-system/patterns";
import AppGithubIcon from "../components/icons/AppGithubIcon.astro";
import AppTwitterIcon from "../components/icons/AppTwitterIcon.astro";
import AppMailIcon from "../components/icons/AppMailIcon.astro";

interface Props {
  title: string;
  description?: string;
  ogType?: "website" | "article";
}

const {
  title,
  description = "Learn XState from real examples accompanied by interactive demos.",
  ogType = "article",
} = Astro.props;

const pathname = Astro.url.pathname.endsWith("/")
  ? Astro.url.pathname
  : Astro.url.pathname + "/";
const canonicalURL = new URL(pathname, Astro.site);

const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: "png",
});
const faviconSvg = await getImage({ src: faviconSvgSrc, format: "svg" });

const ogImage = await getImage({ src: ogImageSrc, format: "png" });
const ogImageAlt =
  "XState by Example - Learn XState from real examples with interactive demos.";

const contacts: Array<{
  href: string;
  alt: string;
  icon: any;
  hideOnHeader?: boolean;
}> = [
  {
    href: "https://github.com/Devessier/xstatebyexample",
    alt: "View on GitHub",
    icon: AppGithubIcon,
  },
  {
    href: "https://twitter.com/BDevessier",
    alt: "Follow on Twitter",
    icon: AppTwitterIcon,
  },
  {
    href: "mailto:baptiste@devessier.fr",
    alt: "Send an email",
    icon: AppMailIcon,
    hideOnHeader: true,
  },
];
---

<!doctype html>
<html lang="en" class={css({ height: "full" })}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <!-- Page Metadata -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    <meta name="theme-color" content="#fff" />

    <!-- Favicons -->
    <!-- Thanks to https://kremalicious.com/favicon-generation-with-astro/ -->
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={appleTouchIcon.src} />

    <!-- OpenGraph Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:locale" content="en" />
    <meta property="og:site_name" content="XState by Example" />
    <meta property="og:image" content={ogImage.src} />
    <meta property="og:image:alt" content={ogImageAlt} />

    <!-- Twitter Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:site" content="BDevessier" />
    <meta name="twitter:image" content={ogImage.src} />
    <meta name="twitter:image:alt" content={ogImageAlt} />

    <ViewTransitions />

    <script
      defer
      data-domain="xstatebyexample.com"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body class={css({ height: "full" })}>
    <div class={grid({ minH: "full", gridTemplateRows: "auto 1fr", gap: 0 })}>
      <nav
        class={css({
          borderBottomWidth: "1px",
          borderColor: "gray.200",
          bgColor: "white",
        })}
      >
        <div
          class={css({
            display: "flex",
            justifyContent: "space-between",
            alignItems: "center",
            mx: "auto",
            maxW: "7xl",
            pl: "4",
            pr: "4",
            sm: { pl: "6", pr: "6" },
            lg: { pl: "8", pr: "8" },
          })}
        >
          <div
            class={css({
              display: "flex",
              h: "16",
              justifyContent: "space-between",
            })}
          >
            <div class={css({ display: "flex" })}>
              <div
                class={css({
                  display: "flex",
                  flexShrink: "0",
                  alignItems: "center",
                })}
              >
                <a href="/" title="Home">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="50"
                    fill="none"
                    viewBox="0 0 354 172"
                  >
                    <path
                      fill="#B91C1C"
                      d="M7.969 97c-3 0-3.594-1.344-1.782-4.031l20.766-30.656-19.078-28.5c-1.813-2.688-1.219-4.032 1.781-4.032h9.469c1.656 0 3.063.922 4.219 2.766l12.797 20.25 12.797-20.25c1.156-1.844 2.562-2.766 4.218-2.766h9.469c3 0 3.594 1.344 1.781 4.032l-19.125 28.5 20.813 30.656C67.906 95.656 67.313 97 64.313 97h-9.61c-1.625 0-3.031-.922-4.219-2.766L36.141 71.828 21.797 94.234C20.609 96.078 19.203 97 17.578 97h-9.61Z"
                    ></path>
                    <path
                      fill="#030712"
                      d="M74.953 91.984c-1.937-1.468-2.406-2.953-1.406-4.453l3.61-5.437c1.187-1.781 2.921-1.875 5.202-.281 1.75 1.218 4.032 2.484 6.844 3.796a21.555 21.555 0 0 0 8.953 1.922c2.188 0 4.297-.25 6.328-.75 2.032-.5 3.578-1.469 4.641-2.906 1.063-1.438 1.594-3.14 1.594-5.11 0-1.406-.235-2.64-.703-3.703-.469-1.062-1.235-1.937-2.297-2.624a20.733 20.733 0 0 0-3.281-1.735c-1.969-.812-4.454-1.61-7.454-2.39a90.778 90.778 0 0 1-8.812-2.907 26.183 26.183 0 0 1-7.125-4.125c-2.156-1.75-3.828-3.718-5.016-5.906-1.187-2.188-1.781-5.11-1.781-8.766 0-4.343 1.406-8.062 4.219-11.156 2.812-3.094 6.047-5.078 9.703-5.953a47.372 47.372 0 0 1 11.062-1.313c3.688 0 7.485.563 11.391 1.688 3.937 1.125 6.906 2.531 8.906 4.219 1.969 1.656 2.453 3.156 1.453 4.5l-3.796 5.11c-1.282 1.75-3 1.89-5.157.421-1.375-.938-3.265-1.984-5.672-3.14-2.375-1.157-4.859-1.735-7.453-1.735-1.844 0-3.547.156-5.11.469-1.53.312-2.89 1.062-4.077 2.25-1.188 1.187-1.781 2.656-1.781 4.406 0 1.688.437 3.063 1.312 4.125.875 1.031 1.844 1.813 2.906 2.344 1.063.5 2.14.922 3.235 1.265a1626.77 1626.77 0 0 0 9.047 2.907c2.656.812 5.109 1.718 7.359 2.718 3.125 1.407 5.515 2.813 7.172 4.22 1.656 1.405 3.015 3.327 4.078 5.765 1.094 2.437 1.641 5.344 1.641 8.719 0 5-1.594 9.14-4.782 12.421-3.187 3.25-6.734 5.344-10.64 6.282-3.875.968-7.657 1.453-11.344 1.453-5.438 0-9.86-.531-13.266-1.594-3.406-1.031-6.64-2.703-9.703-5.016Zm58.125-50.203c-2.344 0-3.516-1.015-3.516-3.047v-5.906c0-2.031 1.172-3.047 3.516-3.047h48.188c2.343 0 3.515 1.016 3.515 3.047v5.906c0 2.032-1.172 3.047-3.515 3.047h-17.25v52.64c0 1.72-.782 2.579-2.344 2.579h-9c-1.563 0-2.344-.86-2.344-2.578v-52.64h-17.25ZM183.609 97c-2.25 0-2.984-1.031-2.203-3.094l22.969-60.328c.969-2.531 2.437-3.797 4.406-3.797h6.563c1.968 0 3.437 1.266 4.406 3.797l22.969 60.328c.781 2.063.047 3.094-2.203 3.094h-7.454c-2.062 0-3.5-1.078-4.312-3.234l-4.781-12.61h-23.813l-4.781 12.61c-.813 2.156-2.25 3.234-4.313 3.234h-7.453Zm20.907-27.469h15.093l-5.765-14.906c-.688-1.75-1.11-3.016-1.266-3.797-.125-.812-.266-2-.422-3.562h-.187c-.157 1.562-.313 2.75-.469 3.562-.125.781-.531 2.047-1.219 3.797l-5.765 14.906Zm36-27.75c-2.344 0-3.516-1.015-3.516-3.047v-5.906c0-2.031 1.172-3.047 3.516-3.047h48.187c2.344 0 3.516 1.016 3.516 3.047v5.906c0 2.032-1.172 3.047-3.516 3.047h-17.25v52.64c0 1.72-.781 2.579-2.344 2.579h-9c-1.562 0-2.343-.86-2.343-2.578v-52.64h-17.25ZM304.594 97c-2.188 0-3.282-1.172-3.282-3.516V33.297c0-2.344 1.094-3.516 3.282-3.516h40.218c2.344 0 3.516 1.016 3.516 3.047v5.531c0 2.032-1.172 3.047-3.516 3.047H315v14.907h27.328c2.344 0 3.516 1.015 3.516 3.046v5.532c0 2.03-1.172 3.046-3.516 3.046H315v17.438h31.312c2.344 0 3.516 1.016 3.516 3.047v5.531c0 2.031-1.172 3.047-3.516 3.047h-41.718ZM28.664 151c-1.25 0-1.875-.586-1.875-1.758v-30.094c0-1.171.625-1.757 1.875-1.757h7.969c6 0 10.047.742 12.14 2.226 2.11 1.469 3.164 3.735 3.164 6.797 0 2.141-.789 3.797-2.367 4.969-1.562 1.172-3.078 1.851-4.547 2.039v.07c1.422.094 3.094.813 5.016 2.156 1.922 1.344 2.883 3.243 2.883 5.696 0 2.875-1.172 5.203-3.516 6.984-2.343 1.781-6.21 2.672-11.601 2.672h-9.14Zm4.969-5.719h3.422c3.312 0 5.562-.289 6.75-.867 1.203-.578 1.804-1.75 1.804-3.516 0-1.656-.695-2.796-2.086-3.421-1.375-.641-3.53-.961-6.468-.961h-3.422v8.765Zm0-14.297h3.07c2.016 0 3.899-.351 5.649-1.054 1.765-.703 2.648-1.797 2.648-3.282 0-1.156-.492-2.031-1.477-2.625-.968-.609-3.242-.914-6.82-.914h-3.07v7.875Zm24.14-11.578c-.796-1.344-.43-2.015 1.102-2.015h4.102c.812 0 1.53.539 2.156 1.617l4.992 8.695c.14.235.555.969 1.242 2.203.688 1.219 1.086 2.406 1.195 3.563h.094c.11-1.157.508-2.344 1.196-3.563a131.402 131.402 0 0 1 1.242-2.203l4.992-8.695c.625-1.078 1.344-1.617 2.156-1.617h4.102c1.531 0 1.898.671 1.101 2.015l-11.414 19.289v11.016c0 .859-.547 1.289-1.64 1.289h-3.563c-1.094 0-1.64-.43-1.64-1.289v-11.016l-11.415-19.289Z"
                    ></path>
                    <path
                      fill="#B91C1C"
                      d="M109.242 151c-1.094 0-1.64-.586-1.64-1.758v-30.094c0-1.171.546-1.757 1.64-1.757h20.11c1.171 0 1.757.507 1.757 1.523v2.766c0 1.015-.586 1.523-1.757 1.523h-14.907v7.453h13.664c1.172 0 1.758.508 1.758 1.524v2.765c0 1.016-.586 1.524-1.758 1.524h-13.664v8.719h15.657c1.171 0 1.757.507 1.757 1.523v2.766c0 1.015-.586 1.523-1.757 1.523h-20.86Zm28.5 0c-1.5 0-1.797-.672-.89-2.016l10.382-15.328-9.539-14.25c-.906-1.344-.609-2.015.891-2.015h4.734c.828 0 1.532.461 2.11 1.382l6.398 10.125 6.399-10.125c.578-.921 1.281-1.382 2.109-1.382h4.734c1.5 0 1.797.671.891 2.015l-9.563 14.25 10.407 15.328c.906 1.344.609 2.016-.891 2.016h-4.805c-.812 0-1.515-.461-2.109-1.383l-7.172-11.203-7.172 11.203c-.594.922-1.297 1.383-2.109 1.383h-4.805Zm32.039 0c-1.125 0-1.492-.516-1.101-1.547l11.484-30.164c.484-1.266 1.219-1.898 2.203-1.898h3.281c.985 0 1.719.632 2.204 1.898l11.484 30.164c.391 1.031.023 1.547-1.102 1.547h-3.726c-1.031 0-1.75-.539-2.156-1.617l-2.391-6.305h-11.906l-2.391 6.305c-.406 1.078-1.125 1.617-2.156 1.617h-3.727Zm10.453-13.734h7.547l-2.883-7.454c-.343-.874-.554-1.507-.632-1.898-.063-.406-.133-1-.211-1.781h-.094a21.497 21.497 0 0 1-.234 1.781c-.063.391-.266 1.024-.61 1.898l-2.883 7.454ZM205.148 151c-1.093 0-1.64-.586-1.64-1.758v-30.094c0-1.171.547-1.757 1.64-1.757h6.797c.907 0 1.555.625 1.946 1.875l6.351 20.554c.281.891.477 1.625.586 2.203.11.563.203 1.235.281 2.016h.141a22.59 22.59 0 0 1 .281-2.016c.11-.578.305-1.312.586-2.203l6.352-20.554c.39-1.25 1.039-1.875 1.945-1.875h6.797c1.094 0 1.641.586 1.641 1.757v30.094c0 1.172-.547 1.758-1.641 1.758h-3.563c-1.093 0-1.64-.586-1.64-1.758v-19.359c0-.938.039-1.875.117-2.813h-.164l-6.773 22.032c-.391 1.265-1.063 1.898-2.016 1.898h-3.984c-.954 0-1.626-.633-2.016-1.898l-6.774-22.032h-.164c.078.938.118 1.875.118 2.813v19.359c0 1.172-.547 1.758-1.641 1.758h-3.563Zm42.844 0c-1.094 0-1.64-.586-1.64-1.758v-30.094c0-1.171.546-1.757 1.64-1.757h8.766c5.625 0 9.523.914 11.695 2.742 2.188 1.828 3.281 4.422 3.281 7.781s-1.093 5.953-3.281 7.781c-2.172 1.828-6.07 2.743-11.695 2.743h-3.563v10.804c0 1.172-.547 1.758-1.64 1.758h-3.563Zm5.203-18.281h3.539c3.125 0 5.25-.367 6.375-1.102 1.125-.75 1.688-1.984 1.688-3.703 0-1.719-.563-2.945-1.688-3.68-1.125-.75-3.25-1.125-6.375-1.125h-3.539v9.61ZM279.117 151c-1.094 0-1.64-.586-1.64-1.758v-30.094c0-1.171.546-1.757 1.64-1.757h3.797c.938 0 1.406.586 1.406 1.757v26.04h13.664c1.172 0 1.758.507 1.758 1.523v2.766c0 1.015-.586 1.523-1.758 1.523h-18.867Zm27.235 0c-1.094 0-1.641-.586-1.641-1.758v-30.094c0-1.171.547-1.757 1.641-1.757h20.109c1.172 0 1.758.507 1.758 1.523v2.766c0 1.015-.586 1.523-1.758 1.523h-14.906v7.453h13.664c1.172 0 1.758.508 1.758 1.524v2.765c0 1.016-.586 1.524-1.758 1.524h-13.664v8.719h15.656c1.172 0 1.758.507 1.758 1.523v2.766c0 1.015-.586 1.523-1.758 1.523h-20.859Z"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class={hstack({ gap: "4" })}>
            {
              contacts
                .filter((contact) => contact.hideOnHeader !== true)
                .map((contact) => (
                  <a
                    href={contact.href}
                    class={css({
                      p: "1.5",
                      rounded: "md",
                      cursor: "pointer",
                      _hover: { bg: "gray.100" },
                    })}
                  >
                    <span class={css({ srOnly: true })}>{contact.alt}</span>

                    <contact.icon
                      class={css({ w: "6", h: "6", color: "gray.400" })}
                    />
                  </a>
                ))
            }
          </div>
        </div>
      </nav>

      <main class={css({ pt: "10", pb: "10", bg: "gray.50" })}>
        <slot />

        <div
          class={css({
            maxW: "3xl",
            mx: "auto",
            mt: { base: "20", sm: "24", lg: "32" },
            px: { base: "4", sm: "6", lg: "8" },
          })}
        >
          <div
            class={css({
              bg: "white",
              shadow: "lg",
              py: "4",
              px: "6",
              rounded: "lg",
            })}
          >
            <h2 class={css({ fontSize: "xl", fontWeight: "semibold" })}>
              Get news from XState by Example
            </h2>

            <p class={css({ mt: "4" })}>
              Sign up for the newsletter to be notified when more machines or an
              interactive tutorial are released. I respect your privacy and will
              only send emails once in a while.
            </p>

            <iframe
              scrolling="no"
              title="Subscribe to newsletter form"
              style="width: 100% !important; height:220px; border:1px #ccc solid !important"
              src="https://buttondown.email/xstate-by-example?as_embed=true"
              class={css({ mt: "4" })}></iframe>
          </div>
        </div>

        <footer
          class={css({
            maxW: "2xl",
            mx: "auto",
            mt: { base: "20", sm: "24", lg: "32" },
            px: { base: "4", sm: "6", lg: "8" },
            textAlign: "center",
            color: "gray.700",
            "& > p > a": {
              fontWeight: "semibold",
              textDecoration: "underline",
            },
          })}
        >
          <p>
            © {new Date().getFullYear()} Baptiste Devessier — Made with <a
              href="https://stately.ai/docs/quick-start">XState</a
            >, <a href="https://astro.build/">Astro</a>,
            <a href="https://panda-css.com/">Panda CSS</a> and <a
              href="https://react.dev/">React</a
            >.
          </p>

          <p
            class={css({
              mt: "4",
            })}
          >
            <a href="https://xstate-catalogue.com/">XState Catalogue</a> is a significant
            source of inspiration and made me the XState developer I am today. I
            want to help XState newcomers, in turn. Shout-out to <a
              href="https://gobyexample.com/">Go by Example</a
            > for coining the expression.
          </p>

          <div
            class={hstack({
              gap: "6",
              justify: "center",
              mt: "6",
            })}
          >
            {
              contacts.map((contact) => (
                <a
                  href={contact.href}
                  target="_blank"
                  class={css({ cursor: "pointer" })}
                >
                  <span class={css({ srOnly: true })}>{contact.alt}</span>

                  <contact.icon
                    class={css({
                      w: "6",
                      h: "6",
                      color: { base: "gray.400", _hover: "gray.500" },
                    })}
                  />
                </a>
              ))
            }
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>
